.appBox {
  margin: 4em;
}

.search {
  width: 23.5em;
}

.suggestionsList { 
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
  width: 20em;
}

.item {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-bottom: 1px solid #ccc;
}